@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

/* Light Mode Variables */
:root {
  --color-surface: hsl(227, 75%, 14%);
  --color-surface-alt: hsl(226, 25%, 17%);
  --color-surface-muted: hsl(225, 23%, 24%);
  --color-border: hsl(226, 11%, 37%);
  --color-text-muted: hsl(0, 0%, 78%);
  --color-background: hsl(200, 60%, 99%);
  --color-background-alt: hsl(0, 0%, 93%);
  --color-background-soft: hsl(217, 61%, 90%);
  --color-accent: hsl(3, 86%, 64%);
  --color-accent-hover: hsl(3, 71%, 56%);
  --color-accent-active: hsl(3, 77%, 44%);
  --gradient-ui: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
}

/* Dark Mode Variables */
.dark {
  --color-surface: hsl(200, 60%, 99%);
  --color-surface-alt: hsl(0, 0%, 93%);
  --color-surface-muted: hsl(217, 61%, 90%);
  --color-border: hsl(0, 0%, 78%);
  --color-text-muted: hsl(226, 11%, 37%);
  --color-background-soft: hsl(225, 23%, 24%);
  --color-background-alt: hsl(226, 25%, 17%);
  --color-background: hsl(227, 75%, 14%);
  --color-accent: hsl(3, 86%, 64%);
  --color-accent-hover: hsl(3, 71%, 56%);
  --color-accent-active: hsl(3, 77%, 44%);
  --gradient-ui: linear-gradient(180deg, #040918 0%, #091540 100%);
}
